<div class="row text-center">
    <h2>Funciones Administrador</h2>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src="../../assets/img/gestion concesionario.PNG" class="card-img-top" alt="Gestion Concesionario"/>
          <h5 class="card-title">Gestión Concesionario</h5>
          <p class="card-text">Busqueda de información sobre un concesionario en concreto a través del ID</p>
          <button class="btn btn-success" (click)="gestionConcesionario()">Gestión Concesionario</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img src="../../assets/img/Gestion persona.PNG" class="card-img-top" alt="Gestion Persona"/>  
            <h5 class="card-title">Gestión Persona</h5>
            <p class="card-text">Busqueda de información sobre una persona en concreto a través del ID</p>
            <button class="btn btn-success" (click)="gestionPersona()">Gestión Persona</button>
          </div>
        </div>
      </div>
  </div>
