<div class="card col-8 text-center rounded-4">
  <div class="container " >
    <h2>Nuevo Concesionario</h2>
    <div class="col-md-1 ">
      <button class="btn btn-dark" (click)="back()">🡰</button>
    </div>
        <div class="form-group row border-b">
          <div class="col-sm">
            <label for="ex1" id="ex1">Identificador</label>
          </div>
          <div class="col-sm">
            <input  type="text" class="form-control-plaintext" [(ngModel)]="newCon.idpk_con" placeholder=" 22 ">
          </div>
        </div>

        <br>

        <div class="form-group row border-b">
          <div class="col-sm">
            <label for="ex1" id="ex1">CIF</label>
          </div>
          <div class="col-sm">
            <input  type="text" class="form-control-plaintext" [(ngModel)]="newCon.cif" id="ex2" value="">
          </div>
        </div>
    
        <br>
    
        <div class="form-group row border-b">
          <div class="col-sm">
            <label for="ex1" id="ex1">Nombre Concesionario</label>
          </div>
          <div class="col-sm">
            <input  type="text" class="form-control-plaintext" [(ngModel)]="newCon.nom" id="ex2" value="">
          </div>
        </div>
  
      <br>
  
      <div class="form-group row border-b">
        <div class="col-sm">
          <label for="ex1" id="ex1">Telefono</label>
        </div>
        <div class="col-sm">
          <input  type="text" class="form-control-plaintext" [(ngModel)]="newCon.telefon" id="ex2" value="">
        </div>
      </div>
  
      <br>

      <div class="form-group row border-b">
        <div class="col-sm">
          <label for="ex1" id="ex1">Dirección</label>
        </div>
        <div class="col-sm">
          <input  type="text" class="form-control-plaintext" [(ngModel)]="newCon.adreca" id="ex2" value="">
        </div>
      </div>

      <br>
  
      <div class="form-group row border-b">
        <div class="col-sm">
          <label for="ex1" id="ex1">E-mail</label>
        </div>
        <div class="col-sm">
          <input  type="text" class="form-control-plaintext" [(ngModel)]="newCon.email" id="ex2" value="">
        </div>
      </div>

      <br>

      <div class="form-group row border-b">
        <div class="col-sm">
          <label for="ex1" id="ex1">Provincia</label>
        </div>
        <div class="col-sm" *ngIf="provincia != null">
          <select name="Provincia" [(ngModel)]="provinciaSelected" class="form-control-plaintext" placeholder="Provincia">
            <option disabled selected>Selecciona la provincia</option>
            <option *ngFor="let prov of provincia" value="{{prov.nom}}">{{prov.nom}}</option>
          </select>
        </div>
      </div>

      <br>
      <div class="form-group row">
        <div class="col-sm">
          <label for="ex1" id="ex1">Codigo Postal</label>
        </div>
        <div class="col-sm">
          <input  type="text" class="form-control-plaintext" [(ngModel)]="newCon.codi_postal" id="ex2" value="">
        </div>
      </div>
    <!-- </form> -->
    <div class="row justify-content-end">
      <div class="col-md-2">
        <button class="btn btn-success" (click)="guardarDatos()">Guardar</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-warning" (click)="clear()">Limpiar</button>
      </div> 
    </div>
  </div>
</div>

