<section id="main-login-section" class="gradient-custom"></section>
<div class="container">
  <br>
<div  class="card p-5 text-center rounded-4">
  <h2>Seleción de Perfil</h2>
  <form>
    <div class="form-group row ">
      <div class="col-sm">
        <label for="ex1" id="ex1">Usuario</label>
      </div>
      <div class="col-sm">
        <span type="text" readonly class="form-control-plaintext" id="ex2">{{usuario.username}}</span>
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"></label>
      </div>
    </div>
      
    <div class="form-group row ">
      <div class="col-sm">
        <label for="ex1" id="ex1">Nombre Completo</label>
        </div>
        <div class="col-sm">
          <span type="text" readonly class="form-control-plaintext" id="ex2" >{{usuario.persona.nom}} {{usuario.persona.cognom1}} {{usuario.persona.cognom2}}</span>
        </div>
        <div class="col-sm align-items-center">
          <label for="ex3"></label>
        </div>
    </div>
  
      <hr>
      <br>
  
    <div class="form-group row ">
      <div class="col-sm">
        <label for="ex1" id="ex1">Perfiles</label>
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm ">
        <label for="ex3"></label>
      </div>
    </div>
    <div class="form-group row ">
      <div class="col-sm align-items-center">
        <label for="ex3"></label>
      </div>
    </div>

    <div class="label ,form-group row ">
      <form [formGroup]="userForm">
        <input type="radio" id="val1" name="respuesta" value="val1" formControlName="profile">
        <label for="val1"> Administrador</label><br><br>
        <input type="radio" id="val2" name="respuesta" value="val2" formControlName="profile">
        <label for="val2"> Director</label><br><br>
        <input type="radio" id="val3" name="respuesta" value="val3" formControlName="profile">
        <label for="val3"> Comercial</label><br><br>
        <input type="radio" id="val3" name="respuesta" value="val4" formControlName="profile">
        <label for="val4"> Mecánico</label><br><br>
      </form> 
      <div class="row justify-content-end">
        <div class="col-md-2">
          <button class="btn btn-success" (click)="onSubmit()">Seleccionar</button>
        </div> 
      </div>
    </div>
  </form>
</div>

</div>
