<section id="main-login-section" class="gradient-custom"></section>
<div class="container" >
  <br>
<div  class="card p-5 text-center rounded-4">
  <h2>Seleción de Perfil</h2>
  <form>
    <div class="form-group row ">
      <div class="col-sm">
        <label for="ex1" id="ex1">Usuario</label>
      </div>
      <div class="col-sm">
        <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="123456" >
      </div>
      <div class="col-sm align-items-center">
        <label for="ex3"></label>
      </div>
    </div>
      
    <div class="form-group row ">
      <div class="col-sm">
        <label for="ex1" id="ex1">Nombre Completo</label>
        </div>
        <div class="col-sm">
          <input type="text" readonly class="form-control-plaintext" id="ex2" placeholder="Marta Ribera Martí" >
        </div>
        <div class="col-sm align-items-center">
          <label for="ex3"></label>
        </div>
    </div>
  
      <hr>
      <br>
  
    <div class="form-group row ">
      <div class="col-sm">
        <label for="ex1" id="ex1">Perfiles</label>
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm ">
        <label for="ex3"></label>
      </div>
    </div>
    <div class="form-group row ">
      <div class="col-sm align-items-center">
        <label for="ex3"></label>
      </div>
    </div>

    <div class="label ,form-group row ">
      <form>
      <input type="radio" id="val1" name="respuesta" value="val1">
      <label for="val1"> Administrador</label><br><br>
      <input type="radio" id="val2" name="respuesta" value="val2">
      <label for="val2"> Director</label><br><br>
      <input type="radio" id="val3" name="respuesta" value="val3">
      <label for="val3"> Comercial</label><br><br>
      <input type="radio" id="val3" name="respuesta" value="val3">
      <label for="val3"> Mecánico</label><br><br>
    </form>
    </div>

  </form>
</div>

</div>
