.titulo{
    margin-top: 30px;
    font-weight: bold;
  }

  .sub{
    font-weight: bold;

  }
  
  .card{
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 100px;
    box-shadow: 15px 15px 3px #3335;
  }
  .bi{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
  }
  
  #ex1{
    padding-top: 5px;
    font-weight: bold;
  }

  #ex2{
    text-align: left;
  }
  
  h2{
    margin-top: 15px;
    margin-bottom: 60px;
  }
  .form{
    margin-right:auto;
  }

  .border-b {
    border-bottom: 1px #000000 solid;
  
  }

  .gradient-custom{
    background: #8dc5db ;
  }

  .label{
    text-align: left;
    padding-left: 35%;
}
