<section id="main-login-section" class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card p-5 text-center rounded-4">
          <div class="mb-md-5 mt-md-4 pb-5">
            <h2 class="fw mb-5 text-uppercase">Iniciar Sesión</h2>

            <!-- Form -->

            <div class="form-outline form-white mb-4">
              <input
                type="email"
                class="form-control form-control-lg"
                placeholder="Usuario"
              />
            </div>

            <div class="form-outline form-white mb-4">
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="Contraseña"
              />
            </div>

            <button class="btn px-5 fs-5" (click)="onSubmit()">Entrar</button>

            <!-- Validation errors -->
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>
